body {
    padding: 0;
    max-width: 1600px;
    margin: 0 auto;
    font-weight: 400;
    line-height: 1.6;
    font-family: "Source Sans Pro", system-ui, Roboto, "Helvetica Neue", "Helvetica", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.main {
    border-color: #ccced1;
    padding: 50px;
}

.main__title {
    font-size: 26px;
    line-height: 1.68em;
    margin-bottom: 0.4em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #e9e9e9;
    font-weight: 400;
}

.improvisation__title {
    font-size: 1.36em;
    line-height: 1.5em;
    padding-top: 0.8em;
    margin-bottom: 0.2em;
    font-weight: 400;
}

.diversity__title {
    font-size: 1.36em;
    line-height: 1.5em;
    padding-top: 0.8em;
    margin-bottom: 0.2em;
    font-weight: 400;
}

.confidence__title {
    font-size: 1.36em;
    line-height: 1.5em;
    padding-top: 0.8em;
    margin-bottom: 0.2em;
    font-weight: 400;
}

.diversity__blockquote {
    border-left: 5px solid #ccc;
    font-style: italic;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.diversity {
    display: flex;
    justify-content: space-between;
}

.diversity__text {
    width: 50%;
}

.diversity__pic {
    font-size: 0;
}

.confidence__pic {
    font-size: 0;
}

.diversity__volcano {
    max-width: 439px;
    min-width: 100%;
    width: 100%;
}

.confidence__umbrellas {
    max-width: 439px;
    min-width: 100%;
    width: 100%;
}

.main__paragraph {
    line-height: 1.6em;
    padding-top: 0.2em;
    font-size: 16px;
}

.diversity__paragraph {
    line-height: 1.6em;
    padding-top: 0.2em;
    font-size: 16px;
}

.improvisation__paragraph {
    line-height: 1.6em;
    padding-top: 0.2em;
    font-size: 16px;
}

.confidence__paragraph {
    line-height: 1.6em;
    padding-top: 0.2em;
    font-size: 16px;
}

.diversity__blockquote-text {
    font-size: 16px;
    line-height: 1.6em;
    padding-top: 0.2em;
    margin-bottom: 0.8em;
}

.confidence {
    display: flex;
    justify-content: space-between;
}

.confidence__text {
    width: 50%;
}

.confidence__figcaption {
    background-color: #f7f7f7;
    color: #333;
    font-size: 12px;
    outline-offset: -1px;
    padding: 0.6em;
    caption-side: bottom;
    border: 1px solid transparent;
    text-align: center;
}

.diversity__figcaption {
    background-color: #f7f7f7;
    color: #333;
    font-size: 12px;
    outline-offset: -1px;
    padding: 0.6em;
    caption-side: bottom;
    border: 1px solid transparent;
    text-align: center;
}

@media (max-width: 1200px) {
    .diversity {
        gap: 20px;
    }

    .confidence {
        gap: 20px;
    }
}

@media (max-width: 1000px) {
    .diversity {
        display: grid;
        justify-content: center;
    }

    .diversity__text {
        width: 100%;
    }

    .confidence {
        display: grid;
        justify-content: center;
    }

    .confidence__text {
        width: 100%;
    }

    .main__title {
        font-size: 24px;
    }
}


@media (max-width: 480px) {

   .main {
       padding: 10px;
   }

    .main__title {
        font-size: 20px;
    }

    .improvisation__title {
        font-size: 18px;
    }

    .diversity__title {
        font-size: 18px;
    }

    .confidence__title {
        font-size: 18px;
    }

    .main__paragraph {
        font-size: 14px;
    }

    .diversity__paragraph {
        font-size: 14px;
    }

    .improvisation__paragraph {
        font-size: 14px;
    }

    .confidence__paragraph {
        font-size: 14px;
    }

    .diversity__blockquote-text {
        font-size: 14px;
    }

    .improvisation__list {
        font-size: 14px;
    }
}

@media (max-width: 360px) {
    .main__title {
        font-size: 18px;
    }

    .main__paragraph {
        font-size: 12px;
    }

    .diversity__paragraph {
        font-size: 12px;
    }

    .improvisation__paragraph {
        font-size: 12px;
    }

    .confidence__paragraph {
        font-size: 12px;
    }

    .diversity__blockquote-text {
        font-size: 12px;
    }

    .diversity__blockquote-text {
        font-size: 12px;
    }

    .improvisation__title {
        font-size: 16px;
    }

    .diversity__title {
        font-size: 16px;
    }

    .confidence__title {
        font-size: 16px;
    }

    .improvisation__list {
        font-size: 12px;
    }

    .main__title {
        font-size: 20px;
    }

    .diversity__figcaption {
        font-size: 10px;
    }

    .confidence__figcaption {
        font-size: 10px;
    }
}

